$mobile-width: 320px;
$tablet-width: 766px;
$normal-width: 1200px;

$main-color: #EDEFF1;
$second-color: #FFFFFF;
$main-hover-color: #DD4B2B;
$second-hover-color: #4B4E73;
$main-content-color: #31353E;

$main-font: 'Roboto', sans-serif;
$second-font: 'Roboto Slab', serif;

$main-font-weight: 400;
$head-font-weight: 700;
$second-font-weight: 300;

$small_font-size: 15px;
$main-font-size: 18px;
$second-font-size: 30px;
$head-font-size: 72px;